* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background: #474b4c url("/site/continuous.jpg");
}

body > div {
  position: relative;
  min-width: 380px;
  max-width: 950px;
  margin: 0 auto;
  height: 100%;
}

p,
span,
div,
a {
  font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  color: #242d38;
}

h1,
h2,
h2 a {
  font-family: "Boogaloo", serif;
}

h3 {
  font-family: "Boogaloo", serif;
  color: #000;
  margin-top: 5px;
  letter-spacing: 0.08em;
  font-size: 30px;
  padding-top: 10px;
}

h4 {
  color: #000;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* --- Header & Menu ------------------*/
.header h1 span {
  display: none;
}

.header-wrap {
  background: #00000040;
}

.menu ul {
  display: block;
  list-style-type: none;
}

.menu ul li {
  position: relative;
  display: inline-block;
  margin: 2px;
}

.menu ul li a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding-top: 5px;
  color: #000;
  background: #00b3e9;
}

.menu ul li a:hover {
  background: #fff;
  color: #000;
}

/* --- WIDE ---------------*/
@media (min-width: 600px) {
  .header-wrap {
    margin-top: 20px;
  }

  .header {
    padding-top: 18px;
    background: url("/site/solid-sound.png") no-repeat center 10px;
  }
  .header h1 {
    height: 115px;
  }

  .header .menu {
    text-align: center;
  }

  .menu ul {
  }

  .menu ul li {
    width: 120px;
    height: 36px;
    font-size: 11pt;
  }

  .content {
    padding: 10px;
    font-size: 11pt;
  }

  .content h3 {
    font-size: 25px;
    padding-left: 5px;
    margin: 8px 0px 0px 0px !important;
  }

  .content p,
  .content ul li {
    font-size: 14px;
    padding: 10px;
  }

  .content h2 {
    font-size: 45px;
    padding-left: 5px;
    letter-spacing: 0.07em;
  }

  .mediumGap {
    margin-top: 30px;
  }

  .smallGap {
    margin-top: 14px;
  }

  .boxes .box {
    width: 360px;
    margin: 10px;
  }

  img.auto-shrink {
    max-width: 100%;
  }
}

/* --- NARROW  ---------------*/
@media (max-width: 600px) {
  .header {
    background: url("/site/solid-sound.png") 0px 5px / 300px 58px no-repeat;
    height: 110px;
  }

  .header .menu {
    position: absolute;
    top: 66px;
  }

  .menu ul li {
    width: 45px;
    height: 34px;
    font-size: 10px;
  }

  .menu ul li a {
    padding-left: 5px;
  }

  .content {
    padding: 3px;
    font-size: 10px;
  }

  .content h3 {
    font-size: 25px;
    padding-left: 5px;
    margin: 5px 4px 0px 5px !important;
  }

  .content p,
  .content ul li {
    font-size: 14px;
    padding: 4px;
  }

  .content h2 {
    font-size: 45px;
    letter-spacing: 0.07em;
  }

  .mediumGap {
    margin-top: 7px;
  }

  .smallGap {
    margin-top: 3px;
  }

  .boxes .box {
    margin: 4px;
  }

  img.auto-shrink {
    max-width: 100%;
  }
} /* ---- */

.footer {
  background: #3339;
  font-size: 12px;
  padding: 5px;
  color: #fff;
  height: 30px;
  text-align: right;
  border-top: 2px solid #000;
}

.content {
  background: #fff;
  color: #000;
  border-top: 3px solid #000;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}

.blue a {
  background: #2cf;
  color: #000;
}

.bluepale a {
  background: #9ef;
  color: #000;
}

/*  Removed during PARA refactor 
.background-mega {
  background: #2cf;
  color: #fff;
}

.background-highlight {
  background: #ffcf50;
}

.background-pale {
  background: #f9f2d0;
}

.background-grey {
  background: #eee;
}

.background-royalblue {
  background: #6adade;
  color: 000;
}

.background-lightblue {
  background: #cdebf9;
  color: 000;
}
*/

.content h2 {
  color: #fff;
  background: #ffe773;
  border-bottom: 2px solid #ff5500;
  text-shadow: 3px 3px 2px#000000c0, -1px -1px black, -1px 1px black,
    1px -1px black;
}

.background-submenu .title,
.background-submenu a {
  display: inline-block;
  padding: 8px 20px;
  background: #f22;
}

.background-submenu a {
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.03em;
  border-left: 1px dashed #fff;
}

.background-submenu a:hover {
  background: #fd9a9a;
  color: #000;
  border: 1px solid #000;
  padding: 7px 19px 7px 20px;
}

.background-submenu .title {
  background: #fd9a9a;
}

.content h3 {
  color: #0b5489;
  border-bottom: 1px solid #eee;
  background: rgba(70, 70, 70, 0.4);
}

.content p b {
  color: #000;
}

.boxes a {
  color: #28f;
}

.boxes a:hover {
  background: #fff;
}

.content ul > li {
  margin: 4px 0px 4px 20px;
}

.content ol > li {
  margin: 4px 0px 14px 20px;
}

h3.head-blue {
  background: #2cf;
  color: #fff;
  text-shadow: 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
}

.boxes {
  text-align: center;
}

.boxes .box {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.boxes .box .title {
  padding: 8px 5px 5px 5px;
  font-weight: bold;
}

.boxes .box .body {
  padding: 10px;
}

.boxes.orange .box .title {
  background: #ffcf50;
}

.boxes.orange .box .body {
  border: 3px solid #ffcf50;
  background: #fff4dd;
}

.boxes.yellow .box .title {
  background: #ffe773;
}

.boxes.yellow .box .body {
  border: 3px solid #ffe773;
  background: #fff9e4;
}

.boxes.blue .box .title {
  background: #17a6ff;
  color: #000;
}

.boxes.blue .box .body {
  border: 3px solid #17a6ff;
  background: #eef5fa;
}

.css-hidden {
  display: none;
}

.facebookBox {
  float: right;
  width: 370px;
  background: rgba(100, 100, 100, 0.4);
  margin-top: 20px;
  margin-left: 20px;
  min-height: 200px;
  padding: 0px 0px 2px 0px;
}
