/* --- WIDE ---------------*/
@media (min-width: 600px) {
  .mediumGap {
    margin-top: 30px;
  }

  .smallGap {
    margin-top: 14px;
  }

  .boxes .box {
    width: 360px;
    margin: 10px;
  }

  img.auto-shrink {
    max-width: 100%;
  }
}

/* --- NARROW  ---------------*/
@media (max-width: 600px) {
  .mediumGap {
    margin-top: 7px;
  }

  .smallGap {
    margin-top: 3px;
  }

  .boxes .box {
    margin: 4px;
  }

  img.auto-shrink {
    max-width: 100%;
  }
} /* ---- */

.footer {
  background: #3339;
  font-size: 12px;
  padding: 5px;
  color: #fff;
  height: 30px;
  text-align: right;
  border-top: 2px solid #000;
}

.blue a {
  background: #2cf;
  color: #000;
}

.bluepale a {
  background: #9ef;
  color: #000;
}

.background-submenu .title,
.background-submenu a {
  display: inline-block;
  padding: 8px 20px;
  background: #f22;
}

.background-submenu a {
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.03em;
  border-left: 1px dashed #fff;
}

.background-submenu a:hover {
  background: #fd9a9a;
  color: #000;
  border: 1px solid #000;
  padding: 7px 19px 7px 20px;
}

.background-submenu .title {
  background: #fd9a9a;
}

.css-hidden {
  display: none;
}

.facebookBox {
  float: right;
  width: 370px;
  background: rgba(100, 100, 100, 0.4);
  margin-top: 20px;
  margin-left: 20px;
  min-height: 200px;
  padding: 0px 0px 2px 0px;
}
