img.auto-shrink {
  max-width: 100%;
}

.facebookBox {
  float: right;
  width: 370px;
  background: rgba(100, 100, 100, 0.4);
  margin-top: 20px;
  margin-left: 20px;
  min-height: 200px;
  padding: 0px 0px 2px 0px;
}
