$white: #fff;
$black: #000;


$pink-h: #F96D8F ;/* #f96dd5;  /* header */
$pink: saturate(lighten($pink-h, 9), 20);
$pink-background: desaturate(lighten($pink-h, 25), 30); 
$pink-link: darken(saturate($pink-h, 20), 30) ;

$purple-h: adjust-hue($pink-h, 300);
$purple: saturate(lighten($purple-h, 9), 20);
$purple-background: desaturate(lighten($purple-h, 25), 30); 
$purple-link: darken(saturate($purple-h, 20), 30) ;



$blue-h:   #2cf; /* header */
$blue-h-background: #cdebf9;


$blue:  #17a6ff; 
$blue-background: #eef5fa; 

$orange-bold: adjust-hue($pink-h, 60);
$orange-bold-background: lighten($orange-bold, 20);
$khaki: desaturate(lighten($orange-bold-background, 3) ,60);

$yellow: adjust-hue($pink-h, 70); /* #ffe773; */
$yellow-background:desaturate(lighten($yellow, 25), 30); 
$yellow-contrast: darken(adjust-hue(saturate($pink-h, 80), 45),20);




$blue-link: #04f;
$orange-link: #f00;
$khaki-link: #f50;
  