
* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    background: $background_if_no_image url("/site/continuous.jpg");
  }
  
  body > div {
    position: relative;
    min-width: 380px;
    max-width: 950px;
    margin: 0 auto;
    height: 100%;
  }
  
  p,
  span,
  div,
  a {
    font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    color: $a_link_default;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  @media (min-width: 700px) {
    img.auto-shrink {
      padding:10px;}
  }
  img.auto-shrink {
    
    max-width: 100%;
  }
  