 
  /*-- Footer ----*/
  .footer {
    background: $footer-background;
    font-size: 12px;
    padding: 5px;
    color: $white;
    height: 30px;
    text-align: right;
    border-top: 2px solid $black;
  }