  /*---- Gap Styles ---- */
  @media (min-width: 600px) {
    .smallGap {
      margin-top: 14px;
    }
    .mediumGap {
      margin-top: 30px;
    }
  }
  
  
  @media (max-width: 600px) {
    .mediumGap {
      margin-top: 10px;
    }
    .smallGap {
      margin-top: 8px;
    }
  }
  