* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: #474b4c url("/site/continuous.jpg");
}

body > div {
  position: relative;
  min-width: 380px;
  max-width: 950px;
  margin: 0 auto;
  height: 100%;
}

p,
span,
div,
a {
  font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  color: #242d38;
}

h1,
h2,
h3 {
  font-family: "Boogaloo", sans-serif;
}

h4 {
  color: #000;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
