
  /*--- Page Styles ---- */
  .content {
    background: $content_background;
    color: $content_text;    
  }
  
  .content p b {
    color: $black;
  }
  
  .content ul > li {
    list-style: none;
  }
  
  @media (min-width: 600px) {
    .content {
      padding: 6px;
      font-size: 11pt;
    }
  
    .content p,
    .content ul li {
      font-size: 14px;              
    }
  
    .content p {
      padding: 8px 12px;
    }
  
    .content ul
    {
      padding: 0px 0px 10px 0px;
    }         
  
    .content ul > li {
      margin: 0px 0px 0px 20px;            
      padding: 2px 0px;
    }
  }
  
  /* NARROW -*/
  @media (max-width: 600px) {
    .content {
      padding: 3px;
      font-size: 10px;
    }
  
    .content p {
      padding: 4px 6px;
    }
  
    .content p,
    .content ul li {
      font-size: 14px;
      
    }
  
    .content ul
    {
      padding: 0px 0px 10px 0px;
    }         
  
    .content ul > li {
      margin: 0px 0px 0px 8px;            
      padding: 2px;
    }
  }
  
  /*--- End of page styles-----*/